<div class="sticky-top">
    <div class="list-group">
        <a routerLink="/products" [queryParams]="{category:''}" [class.active]="(category==null|| category=='')"
            class="list-group-item list-group-item-action">All categories</a>
        <a routerLink="/products" [queryParams]="{category:c.payload.val().name}"
            [class.active]="category===c.payload.val().name" class="list-group-item list-group-item-action"
            *ngFor="let c of categories$|async">
            {{c.payload.val().name}}
        </a>
    </div>
</div>